@charset "UTF-8";
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.2rem;
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif; }

a {
  color: #1AAD19; }

.logo {
  width: 12rem;
  height: 0;
  padding: 0 0 5.14rem 0;
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
  margin: 2rem auto;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7); }

.ng-hide {
  display: none; }

#loading {
  position: fixed;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  margin: -4rem 0 0 -4rem; }
  #loading .cycle-in, #loading .cycle-out {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    box-sizing: border-box;
    position: absolute;
    background-color: transparnet;
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    display: block;
    border-radius: 50%;
    border: 4px solid #4CDDFB; }
  #loading .cycle-in {
    -webkit-animation: cw 1.5s infinite linear;
            animation: cw 1.5s infinite linear;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-top: none;
    border-bottom: none; }
  #loading .cycle-out {
    -webkit-animation: ccw 1.5s infinite linear;
            animation: ccw 1.5s infinite linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none; }
  #loading .rate, #loading .msg {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #4CDDFB; }
  #loading .rate {
    line-height: 8rem; }
  #loading .msg {
    top: 100%;
    line-height: 2rem;
    -webkit-animation: opacity 0.8s infinite alternate;
            animation: opacity 0.8s infinite alternate; }

/*顺时针*/
@-webkit-keyframes cw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes cw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*逆时针*/
@-webkit-keyframes ccw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }
@keyframes ccw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

/*逆时针*/
@-webkit-keyframes opacity {
  form {
    opacity: 0.8; }
  to {
    opacity: 0.6; } }
@keyframes opacity {
  form {
    opacity: 0.8; }
  to {
    opacity: 0.6; } }

/* 页面离场 */
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: scale3d(0.7, 0.7, 1) translate3d(-100%, 0%, 0);
            transform: scale3d(0.7, 0.7, 1) translate3d(-100%, 0%, 0); } }
@keyframes slideOutLeft {
  to {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: scale3d(0.7, 0.7, 1) translate3d(-100%, 0%, 0);
            transform: scale3d(0.7, 0.7, 1) translate3d(-100%, 0%, 0); } }

@-webkit-keyframes scaleOut {
  to {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

@keyframes scaleOut {
  to {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

/* 页面进场 */
@-webkit-keyframes slideInRight {
  from {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(100%, 0%, 0);
            transform: translate3d(100%, 0%, 0); } }
@keyframes slideInRight {
  from {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(100%, 0%, 0);
            transform: translate3d(100%, 0%, 0); } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

@keyframes scaleIn {
  from {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

.ng-enter {
  -webkit-animation: scaleIn .5s both ease-out;
          animation: scaleIn .5s both ease-out;
  z-index: 8888;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

.ng-leave {
  -webkit-animation: slideOutLeft .5s both ease-out;
          animation: slideOutLeft .5s both ease-out;
  z-index: 9999;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center; }

/* weui覆盖 */
.weui-btn_primary {
  background-color: #059FEB; }

/* layout */
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .container .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: #F8F8F8;
    -webkit-overflow-scrolling: touch;
    z-index: 1; }
    .container .page.js_show {
      opacity: 1; }

.weui-footer {
  margin-top: 4rem; }

#header-top {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #059FEB -webkit-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  background: #059FEB linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  line-height: 2;
  text-align: center; }
  #header-top .left, #header-top .right {
    position: absolute;
    width: 4rem;
    height: 4rem;
    color: #fff;
    top: 0; }
  #header-top .left {
    left: 0; }
  #header-top .right {
    right: 0; }
