@charset "UTF-8";
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.2rem;
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #F8F8F8;
    -webkit-overflow-scrolling: touch; }

a {
  color: #1AAD19; }

#logo {
  width: 16.8rem;
  height: 0;
  padding: 0 0 7.2rem 0;
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
  margin: 2rem auto;
  -webkit-filter: opacity(0.95);
          filter: opacity(0.95); }

.ng-hide {
  display: none; }

#loading {
  position: fixed;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  margin: -4rem 0 0 -4rem; }
  #loading .cycle-in, #loading .cycle-out {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    box-sizing: border-box;
    position: absolute;
    background-color: transparnet;
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    display: block;
    border-radius: 50%;
    border: 4px solid #4CDDFB; }
  #loading .cycle-in {
    -webkit-animation: cw 1.5s infinite linear;
            animation: cw 1.5s infinite linear;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-top: none;
    border-bottom: none; }
  #loading .cycle-out {
    -webkit-animation: ccw 1.5s infinite linear;
            animation: ccw 1.5s infinite linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none; }
  #loading .rate, #loading .msg {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #4CDDFB; }
  #loading .rate {
    line-height: 8rem; }
  #loading .msg {
    top: 100%;
    line-height: 2rem;
    -webkit-animation: opacity 0.8s infinite alternate;
            animation: opacity 0.8s infinite alternate; }

/*顺时针*/
@-webkit-keyframes cw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes cw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*逆时针*/
@-webkit-keyframes ccw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }
@keyframes ccw {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

/*逆时针*/
@-webkit-keyframes opacity {
  form {
    opacity: 0.8; }
  to {
    opacity: 0.6; } }
@keyframes opacity {
  form {
    opacity: 0.8; }
  to {
    opacity: 0.6; } }

/*显现*/
@-webkit-keyframes scaleIn {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }
@keyframes scaleIn {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }

/*消失*/
@-webkit-keyframes scaleOut {
  to {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }
@keyframes scaleOut {
  to {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); } }

/* 页面离场 */
@-webkit-keyframes viewSlideOutLeft {
  to {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(-100%, 0%, 0);
            transform: translate3d(-100%, 0%, 0); } }
@keyframes viewSlideOutLeft {
  to {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(-100%, 0%, 0);
            transform: translate3d(-100%, 0%, 0); } }

@-webkit-keyframes viewScaleOut {
  to {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

@keyframes viewScaleOut {
  to {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

/* 页面进场 */
@-webkit-keyframes viewSlideInRight {
  from {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(100%, 0%, 0);
            transform: translate3d(100%, 0%, 0); } }
@keyframes viewSlideInRight {
  from {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transform: translate3d(100%, 0%, 0);
            transform: translate3d(100%, 0%, 0); } }

@-webkit-keyframes viewScaleIn {
  from {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

@keyframes viewScaleIn {
  from {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1); } }

.ng-enter {
  -webkit-animation: viewScaleIn .3s both ease-out;
          animation: viewScaleIn .3s both ease-out;
  z-index: 8888;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

.ng-leave {
  -webkit-animation: viewSlideOutLeft .3s both ease-out;
          animation: viewSlideOutLeft .3s both ease-out;
  z-index: 9999;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

/* weui覆盖 */
.weui-btn_primary {
  background-color: #1b82d2; }

.weui-cells {
  font-size: 1.4rem; }
  .weui-cells .weui-cell {
    display: block; }
    .weui-cells .weui-cell:after {
      content: " ";
      display: table;
      clear: both; }
    .weui-cells .weui-cell .weui-cell__hd {
      width: 5rem;
      float: left; }
    .weui-cells .weui-cell .weui-cell__bd {
      width: calc(100% - 5rem);
      float: left; }

.weui-label {
  text-align: center;
  color: #808080;
  width: 100%; }
  .weui-label.iconfont {
    font-size: 1.8rem; }

.weui-vcode-btn {
  color: #1b82d2;
  font-size: 1.4rem; }

/* layout */
.pages {
  width: 100%;
  position: relative; }
  .pages .page {
    width: 100%;
    position: absolute; }

.weui-footer {
  margin-top: 4rem; }

#header-top {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #1b82d2;
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  line-height: 2;
  text-align: center; }
  #header-top .left, #header-top .right {
    box-size: border-box;
    position: absolute;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem;
    color: #fff;
    top: 0; }
  #header-top .left {
    left: 0;
    padding-right: 1rem;
    border-right: 1px solid #1874bb; }
  #header-top .right {
    right: 0; }
