<form action="/index.php?m=ProxyWorkflow&a=edit_customer" class="J-validate" ng-controller="Workflow.add_customer">
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">客户姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer[name]" required zhrangelength="[2,4]" placeholder="姓名" ng-model="customer.name"/>
            <input class="weui-input" type="hidden" name="customer[proxy_customer_id]" required value="{{$storage.customer_id}}"/>
            <input class="weui-input" type="hidden" name="contract[apply_price]" required value="{{$storage.apply_price}}"/>
            <input class="weui-input" type="hidden" name="contract[product_id]" required value="{{$storage.product_id}}"/>

            <input class="weui-input" type="hidden" name="submitlx" required value="2"/>

            <input class="weui-input" type="text" name="apply_id" ng-model="current_apply_id" style="display: none;" />
            <input class="weui-input" type="text" name="contract[proxy_contract_id]" ng-model="contract.proxy_contract_id" style="display: none;"/>

            <input class="weui-input" type="hidden" name="process[status]" required value="pass"/>
        </div>
    </div>
    
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">身份证号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer[idcard]" required isidcardno placeholder="必填" ng-model="customer.idcard">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer[mobile]" ng-model="$storage.mobile" required digits ismobile readonly placeholder="必填"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">婚姻状况</label></div>
        <div class="weui-cell__bd">
            <select class="weui-input" name="customer[marriage]" required ng-model="customer.marriage">
              <option>--请选择--</option>
              <option value="6">已婚</option>
              <option value="7">未婚</option>
              <option value="82">离异</option>
              <option value="83">丧偶</option>
              <option value="84">再婚</option>
            </select>
        </div>
    </div>
    <div class="weui-cell x2">
        <div class="weui-cell__hd"><label class="weui-label">现住地址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" readonly="true" required  placeholder="必填,点击选择地址" zw-linkage 
            fields='{"customer[live_address_province]":"省份","customer[live_address_city]":"城市","customer[live_address_county]":"区县"}'
            typekey="city"
            ng-model="customer.live_addr"
            />
            <input class="weui-input" type="text" name="customer[live_address]" ng-model="customer.live_address" required placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell">
        <input class="weui-input" type="text" name="customer_profession[proxy_customer_profession_id]" ng-model="profession.proxy_customer_profession_id" style="display: none;"/>

        <div class="weui-cell__hd"><label class="weui-label">单位名称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer_profession[company_name]"  ng-model="profession.company_name" required placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">入职时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="date" name="customer_profession[start_work_date]" ng-model="profession.start_work_date" required placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell x2">
        <div class="weui-cell__hd"><label class="weui-label">单位地址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" readonly="true"  placeholder="必填,点击选择地址" zw-linkage 
            fields='{"customer_profession[company_address_province]":"省份","customer_profession[company_address_city]":"城市","customer_profession[company_address_county]":"区县"}'
            typekey="city"
            ng-model="profession.company_addr"
            />
            <input class="weui-input" type="text" name="customer_profession[company_address]" ng-model="profession.company_address" required placeholder="必填"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">单位座机</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" name="customer_profession[company_tel_zone]" ng-model="profession.company_tel_zone"  required digits maxlength="4" placeholder="区号(必填)" style="width:25%;border-right: 1px solid #ccc;" />
            <input class="weui-input" type="tel" name="customer_profession[company_tel]" ng-model="profession.company_tel"  required digits maxlength="8" placeholder="号码(必填)" style="width:70%;"/>
        </div>
    </div>
    <div class="weui-cell">
        <input class="weui-input" type="text" name="customer_asset[proxy_customer_asset_id]" ng-model="asset.proxy_customer_asset_id" style="display: none;"/>

        <div class="weui-cell__hd"><label class="weui-label">房产数量</label></div>
        <div class="weui-cell__bd">
          共有(<input class="weui-input" type="text" name="customer_asset[asset_room_number]" ng-model="asset.asset_room_number" required digits placeholder="" style="width: 2rem;text-align: center;" />)套,
          其中按揭(<input class="weui-input" type="text" name="customer_asset[asset_room_mortgage_number]" ng-model="asset.asset_room_mortgage_number" required digits placeholder="" style="width: 2rem;text-align: center;"/>)套
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">车辆数量</label></div>
        <div class="weui-cell__bd">
          共有(<input class="weui-input" type="text" name="customer_asset[asset_car_number]" ng-model="asset.asset_car_number" required digits placeholder="" style="width: 2rem;text-align: center;" />)辆,
          其中按揭(<input class="weui-input" type="text" name="customer_asset[asset_car_mortgage_num]" ng-model="asset.asset_car_mortgage_num" required digits placeholder="" style="width: 2rem;text-align: center;"/>)辆
        </div>
    </div>

    <div class="weui-cell">
        <input class="weui-input" type="text" name="customer_contact[id0][proxy_customer_contact_id]" ng-model="contact[0].proxy_customer_contact_id" style="display: none;"/>

        <div class="weui-cell__hd"><label class="weui-label">亲属姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer_contact[id0][name]" ng-model="contact[0].name" zhrangelength="[2,4]" placeholder="直系"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">亲属手机</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer_contact[id0][moblie]" ng-model="contact[0].moblie" required digits ismobile placeholder="必填"/>
        </div>
    </div>

</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:void(0);" ng-click="submit($event,'Customer.file_cat',submitCf)">下一步</a>
    <!-- <a ui-sref="Access.login" class="weui-btn weui-btn_disabled weui-btn_default">已登记过,前往登录.</a> -->
</div>
</form>


