<div id="header-top" ng-switch on="$state.current.name">
	<span class="left iconfont icon-xz" ng-click="back()"></span>
	<span ng-bind="$state.current.title"></span>
	
	
	<span class="right" ng-switch-when="Access.register" ui-sref="Access.login">登录</span>
	<span class="right" ng-switch-when="Access.login" ui-sref="Access.register">注册</span>
	<span class="right" ng-switch-when="Customer.file_cat" ui-sref="Customer.tongDun">下一步</span>
	<span class="right" ng-switch-when="Access.product_cats" ng-click="login_out($event)">退出</span>
	<span class="right" ng-switch-default ui-sref="Access.product_cats"><i class="iconfont icon-house"></i></span>
</div>