$topHeight:4.4rem;
$primaryBg:#1b82d2;
$primaryC:#1b82d2;
$const_bg_281:#ccc;
$const_bg_298:#37AD61;
$const_bg_299:#58BCF7;
$const_bg_300:#1FC8C3;
$const_bg_301:#E783E5;
$const_bg_302:#7093F7;
$const_bg_303:#A26DF1;
$const_bg_304:#ccc;
$const_bg_305:#F7753B;
$const_bg_306:#ccc;
$const_bg_369:#37AD61;
$const_bg_370:#F7753B;
$const_bg_371:#F5B03B;

.const_bg_281{background-color:$const_bg_281;}
.const_bg_298{background-color:$const_bg_298;}
.const_bg_299{background-color:$const_bg_299;}
.const_bg_300{background-color:$const_bg_300;}
.const_bg_301{background-color:$const_bg_301;}
.const_bg_302{background-color:$const_bg_302;}
.const_bg_303{background-color:$const_bg_303;}
.const_bg_304{background-color:$const_bg_304;}
.const_bg_305{background-color:$const_bg_305;}
.const_bg_306{background-color:$const_bg_306;}
.const_bg_369{background-color:$const_bg_369;}
.const_bg_370{background-color:$const_bg_370;}
.const_bg_371{background-color:$const_bg_371;}

.const_blc_281{border-left-color:$const_bg_281 !important;}
.const_blc_298{border-left-color:$const_bg_298 !important;}
.const_blc_299{border-left-color:$const_bg_299 !important;}
.const_blc_300{border-left-color:$const_bg_300 !important;}
.const_blc_301{border-left-color:$const_bg_301 !important;}
.const_blc_302{border-left-color:$const_bg_302 !important;}
.const_blc_303{border-left-color:$const_bg_303 !important;}
.const_blc_304{border-left-color:$const_bg_304 !important;}
.const_blc_305{border-left-color:$const_bg_305 !important;}
.const_blc_306{border-left-color:$const_bg_306 !important;}
.const_blc_369{border-left-color:$const_bg_369 !important;}
.const_blc_370{border-left-color:$const_bg_370 !important;}
.const_blc_371{border-left-color:$const_bg_371 !important;}


html, body {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust:none; 
}
@media screen and (min-width:1400px){
  html {
        font-size: 15px !important;
        -webkit-touch-callout: none;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px){
  html {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  html {
        font-size: 11px !important;
    }
}
@media only screen and (max-width: 479px) {
  html {
        font-size: 10px !important;
    }
}
body{
	transition:0.3s;
	font: 1.2rem/1.231 -apple-system-font,Tahoma, Helvetica, Arial, \5b8b\4f53, sans-serif;
	background-color: #F8F8F8;
    -webkit-overflow-scrolling: touch;
}

a{
    color: #1AAD19;font-size:1.4rem;
}
#logo{
	width:16.8rem;height:0;padding:0 0 7.2rem 0;
	background-image:url('../images/logo.png');
	background-size:100% 100%;
	margin:2rem auto;
	filter:opacity(0.95);
}
.ng-hide{
	display:none;
}
#loading{
	position:fixed;
	width: 8rem;
	height: 8rem;
	top:50%;
	left:50%;
	margin:-4rem 0 0 -4rem;
	.cycle-in,.cycle-out{
		transform-origin:center;
		box-sizing: border-box;
		position: absolute;
		background-color: transparnet;
		filter: opacity(0.5);
		display: block;
		border-radius:50%;
		border: 4px solid #4CDDFB;

	}
	.cycle-in{
		animation: cw 1.5s infinite linear;
		top: 25%;left: 25%;
		width: 50%;height: 50%;
		border:{
			top:none;
			bottom:none;
		}
	}
	.cycle-out{
		animation: ccw 1.5s infinite linear;
		top: 0;left: 0;
		width: 100%;height: 100%;
		border:{
			left:none;
			right:none;
		}
	}
	.rate,.msg{
		width: 100%;
		position: absolute;
		text-align: center;
		color: #4CDDFB;
	}
	.rate{
		line-height: 8rem;
	}
	.msg{
		top:100%;
		line-height: 2rem;
		animation: opacity 0.8s infinite alternate;
	}
}
#processing{
	position:relative;
	z-index:9999999;
	display: none;
}

/*顺时针*/
@keyframes cw{
	form{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
/*逆时针*/
@keyframes ccw{
	form{transform: rotate(0deg);}
	to{transform: rotate(-360deg);}
}
/*逆时针*/
@keyframes opacity{
	form{opacity :0.8;}
	to{opacity :0.6;}
}
/*显现*/
@keyframes scaleIn {
    from        {height:0;padding-top:0;padding-bottom: 0;margin-top:0;margin-bottom: 0; transform:scale3d(0,0,1);}
}
/*消失*/
@keyframes scaleOut {
    to        {height:0;padding-top:0;padding-bottom: 0;margin-top:0;margin-bottom: 0; transform:scale3d(0,0,1);}
}


/* 页面离场 */
@keyframes viewSlideOutLeft {
    to         { filter:opacity(0.5); transform: translate3d(-100%, 0%, 0);}
}
@keyframes viewScaleOut {
    to         { filter:opacity(0.7); transform: scale3d(0.7, 0.7, 1); }
}
/* 页面进场 */
@keyframes viewSlideInRight {
    from       { filter:opacity(0.5); transform: translate3d(100%, 0%, 0); }
}
@keyframes viewScaleIn {
    from     { filter:opacity(.7); transform: scale3d(0.7, 0.7, 1); }
}
@keyframes viewOpacityIn {
    from       { filter:opacity(0.5); }
}

.ng-enter { animation: viewOpacityIn .3s both ease-out; z-index: 8888;transform-origin:center center;}
//.ng-leave { animation: viewSlideOutLeft .3s both ease-out; z-index: 9999;transform-origin:center center;}

#app-msg{
    box-sizing:border-box;
	width:100%;
	text-align:center;
	position:fixed;bottom:10rem;
	opacity:0;
	z-index:9999;
	transform:translateY(3rem) scaleY(0);
	transform-origin:center 0px;
	transition:.3s;
	span{
		display:inline-block;
		padding:0.5rem 1rem;
		border-radius:0.8rem;
		background:rgba(0,0,0,.75);
		font-size:1.2rem;font-weight:300;
	}
    &.active{
    	opacity:1;
		transform:translateY(0) scaleY(1);
	}
}



/* weui覆盖 */
.weui-btn_primary{
	background-color:$primaryBg;
}
.weui-cells{
	font-size:1.4rem;
	.weui-cell{
		height:4.4rem;
		padding:0rem 0rem;
		box-sizing:border-box;
		position:relative;
		display:block;
		&:before{
			left:0;
			border:none;
		}
		&:after{
			content:" ";
			display:table;
			clear: both;
			width:100%;
			border-top: 1px solid #d9d9d9;
		}
		&.x2{
			height:8.8rem;
		}
		.weui-cell__hd,
		.weui-cell__bd,
		.weui-cell__ft{
			box-sizing:border-box;
			padding:0;
			float:left;
			line-height: 4.4rem;
		}
		.weui-cell__hd{
			width:6rem;
			.weui-label{
				text-align:center;
				color:#808080;
				width:100%;
				overflow:hidden;
				white-space:nowrap;
				font-size:1.2rem;
				&.iconfont{
					font-size:1.8rem;
				}
			}
		}
		&.weui-cell_warn{
			.weui-label{
				color:#e64340;
			}
		}
		.weui-cell__bd{
			padding-left: 1rem;
			width:calc(100% - 6rem);
		}
		.weui-cell__ft{
			width:10rem;
		}
		&.weui-cell_vcode .weui-cell__bd{
			width:calc(100% - 16rem);
		}
		.weui-vcode-btn{
			padding:0 0.5rem;
			height:4.4rem;
			color:$primaryBg;
			font-size:1.4rem;
		}

	}
}

.weui-tab{
	.weui-navbar{
		position:fixed;
		top:4.4rem;
	}
	.weui-tab__panel{
		
	}
}



/* layout */
.pages {
	box-sizing:border-box;
	height:100%;
	padding-top: $topHeight;
	width:100%;
	position:relative;
	.page{
		box-sizing:border-box;
		height:100%;
		width:100%;
		position:absolute;
	}
    
}

.weui-footer{
	margin-top: 4rem;
}
#header-top{
	position:fixed;
	top:0;left:0;
	width:100%;height:$topHeight;
	background: $primaryBg;
	z-index:9999;
	color:#fff;
	font-size:$topHeight/2.5;
	line-height: $topHeight;
	text-align:center;
	.left,.right{
		box-size:border-box;
		position: absolute;
		height:$topHeight/2;
		line-height: $topHeight/2;
		margin:$topHeight/4;
		color:#fff;
		top:0;
	}
	.left{width:$topHeight/2;left:0;padding-right:$topHeight/4;border-right:1px solid darken($primaryBg,5);}
	.right{right:0;font-size:$topHeight/3}
}



ul.products{
	width:96%;
	margin:0 auto;
	li{
		box-sizing:border-box;
		width:96%;
		margin:0.5rem auto 0;
		padding:0;
		background:#fff;
		list-style:none;
		position:relative;
		&::before{
			content:' ';
			display:block;
			width:0;
			height:0;
			border-width:1rem;
			border-color:transparent;
			border-right-color:$primaryBg;
			border-style:solid;
			position:absolute;
			top:-1rem;left:-1rem;
			transform:rotate(45deg);
		}
		.info{
			height:8rem;
			border:1px solid #eee;
			border-left:none;
			border-right:none;
			&:after{
				content:' ';
				display:table;
				clear:both;
			}
			img{
				float:left;
				border:none;
				outline:none;
				display:block;
				width:8rem;
				height:8rem;
				background-color:#ccc;
				background-image:url('../images/img_bg.png');
				background-repeat:no-repeat;
				background-position:center center;
				background-size:100% auto;
			}
			.desc{
				float:left;
				padding:0.5rem 1rem 0.5rem 1rem;
				max-width:50%;
				h5{
					font-size:1.4rem;
					font-weight:600;
					line-height: 2.4rem;
				}
				p{
					font-size:1.2rem;
					color:#999;
				}
			}
			.action{
				box-sizing:border-box;
				float:right;
				text-align:right;
				position:relative;
				height:100%;
				padding: 1rem;
				button{
					border:none;
					background:$primaryBg;
					color:#fff;
					font-size:1.3rem;
					outline:none;
					padding:0.5rem;
					border-radius:0.3rem;
				}
				span{
					color:#A1A1A1;
					font-size:1.4rem;
					line-height: 2rem;
					height:2rem;
					position:absolute;
					display:inline-block;
					padding:0 1.6rem 0 0;
					bottom:0;
					right:1rem;
					color:#999;
					&::after{
						content:' ';
						display:block;
						width:0;
						height:0;
						border-width:0.6rem;
						border-color:transparent;
						border-top-color:#999;
						border-style:solid;
						position:absolute;
						right:0;
						bottom:0;
						transition:.6s;
					}
				}
			}
		}
		.weui-article{
			box-sizing:border-box;
			width:100%;
			opacity:0;
			position:absolute;
			left:0;top:8rem;
			background:#A0D6FF;
			z-index:9999;
			color:#fff;
			transform:translateY(-8rem) scaleY(0);
			transform-origin:center 0px;
			transition:.6s;
		}
	}
}


ul.products{
	li.active{
		.info{
			.action{
				span{
					&::after{
						transform:rotate(180deg);
						border-top-color:#A0D6FF;
					}
				}
			}
		}
		.weui-article{
			height:auto;
			opacity:1;
			transform:translateY(0) scaleY(1);
		}
	}
}




ul.file-cats{
	width:100%;
	li{
		box-sizing:border-box;
		width:99%;
		margin:1rem auto 0;
		padding:0.5rem 1.5rem;
		background:#F2F2F2;
		list-style:none;
		.info{
			&:after{
				content:' ';
				display:table;
				clear:both;
			}
			.img{
				display:block;
				width:5rem;
				height:5rem;
				border-radius:0.5rem;
				float:left;
				.iconfont{
					box-sizing:border-box;
					display:block;
					width:3.6rem;
					height:3.6rem;
					border-radius:1.8rem;
					margin:0.6rem auto 0;
					color:#fff;
					border:1px solid #fff;
					font-size:2.4rem;
					line-height: 3.5rem;
					text-align:center;
				}
			}
			p{
				float:left;
				margin-left: 1rem;
				font-size:1.7rem;
			}
			.action{
				float:right;
				text-align:right;
				button{
					display:inline-block;
					border:none;
					color:#fff;
					font-size:1.4rem;
					outline:none;
					height:3rem;
					line-height: 3rem;
					padding:0 1rem;
					position:relative;
					span{
						color:#fff;
					}
					em{
						position:absolute;
						top:0;right:-3rem;;
						display:block;
						width:0;height:0;
						border-style:solid;
						border-color:transparent;
						border-width:1.5rem;
					}
				}
			}
		}
		.weui-article{
			display:none;
		}
	}
}


.apply-process{
	background:#fff;
	padding:0.5rem;
	h5{
		font-size:1.8rem;
		color:$primaryC;
		text-align:center;
		font-family:"隶书";
		padding:1rem 0;
	}
	ul{
		list-style:none;
		padding:0;margin:0;
		text-align:center;
		li{
			display:inline-block;
			line-height:2rem;
			position:relative;
			padding-right: 0.5rem;
			a{
				font-size:1.4rem;
				color:#666;
				display:inline-block;
				font-family:"隶书";
			}
			&:not(:last-child)::after{
				content:' ';
				display:inline-block;
				border-width:0.5rem;
				border-style:solid;
				border-color:transparent;
				border-left-color: $primaryC;
				width:0;height:0;
				position:absolute;
				right:-0.5rem;
				top:0.5rem;
				opacity: 0.5;
			}
		}
	}
}


/*表格*/
table {*border-collapse: collapse;border-collapse: collapse;border-spacing: 0;width: 100%;}
caption,
th,
td {font-weight: normal;text-align: left;}
  
/*无边框斑马表格*/  
.table-zebra td, .table-zebra th {  
padding: 1rem 0.3rem;  
border-bottom: 1px solid #f2f2f2;  
}  
  
.table-zebra tbody tr:nth-child(even) {  
background: #f5f5f5;  
box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
}  
  
.table-zebra th {  
text-align: left;  
text-shadow: 0 1px 0 rgba(255,255,255,.5);  
border-bottom: 1px solid #ccc;  
background-color: #eee;  
background-image: linear-gradient(top, #f5f5f5, #eee);  
}  
  
.table-zebra th:first-child {  
border-radius: 6px 0 0 0;  
}  
  
.table-zebra th:last-child {  
border-radius: 0 6px 0 0;  
}  
  
.table-zebra th:only-child{  
border-radius: 6px 6px 0 0;  
}  
  
.table-zebra tfoot td {  
border-bottom: 0;  
border-top: 1px solid #fff;  
background-color: #f1f1f1;  
}  
  
.table-zebra tfoot td:first-child {  
border-radius: 0 0 0 6px;  
}  
  
.table-zebra tfoot td:last-child {  
border-radius: 0 0 6px 0;  
}  
  
.table-zebra tfoot td:only-child{  
border-radius: 0 0 6px 6px;
}