$topHeight:4rem;
$primaryBg:#059FEB;

html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;

}
html{
	font-size: 62.5%;
	body{
		font-size: 1.2rem;
		font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
	}
}
a{
    color: #1AAD19;
}
.logo{
	width:12rem;height:0;padding:0 0 5.14rem 0;
	background-image:url('../images/logo.png');
	background-size:100% 100%;
	margin:2rem auto;
	filter:opacity(0.7);

}
.ng-hide{
	display:none;
}
#loading{
	position:fixed;
	width: 8rem;
	height: 8rem;
	top:50%;
	left:50%;
	margin:-4rem 0 0 -4rem;
	.cycle-in,.cycle-out{
		transform-origin:center;
		box-sizing: border-box;
		position: absolute;
		background-color: transparnet;
		filter: opacity(0.5);
		display: block;
		border-radius:50%;
		border: 4px solid #4CDDFB;

	}
	.cycle-in{
		animation: cw 1.5s infinite linear;
		top: 25%;left: 25%;
		width: 50%;height: 50%;
		border:{
			top:none;
			bottom:none;
		}
	}
	.cycle-out{
		animation: ccw 1.5s infinite linear;
		top: 0;left: 0;
		width: 100%;height: 100%;
		border:{
			left:none;
			right:none;
		}
	}
	.rate,.msg{
		width: 100%;
		position: absolute;
		text-align: center;
		color: #4CDDFB;
	}
	.rate{
		line-height: 8rem;
	}
	.msg{
		top:100%;
		line-height: 2rem;
		animation: opacity 0.8s infinite alternate;
	}
}
/*顺时针*/
@keyframes cw{
	form{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
/*逆时针*/
@keyframes ccw{
	form{transform: rotate(0deg);}
	to{transform: rotate(-360deg);}
}
/*逆时针*/
@keyframes opacity{
	form{opacity :0.8;}
	to{opacity :0.6;}
}



/* 页面离场 */
@keyframes slideOutLeft {
    to         { transform: translateX(-100%); }
}
/* 页面进场 */
@keyframes scaleUp {
    from     { opacity: 0.3; -webkit-transform: scale(0.85); }
}
.ng-enter { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave { animation: slideOutLeft 0.2s both ease-in; z-index: 9999; }




/* weui覆盖 */
.weui-btn_primary{
	background-color:$primaryBg;
}

/* layout */
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .page {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow-y: auto;
	    background-color: #F8F8F8;
	    -webkit-overflow-scrolling: touch;
	    z-index: 1; // fix 滑动几次后可滚动区域会卡住的问题
	    &.js_show{
	        opacity: 1;
	    }
	}
}
.weui-footer{
	margin-top: 4rem;
}
#header-top{
	position:relative;
	width:100%;height:$topHeight;
	background: $primaryBg linear-gradient(hsla(0,0%,100%,.2),transparent);
	z-index:9999;
	color:#fff;
	font-size:$topHeight/2;
	line-height: 2;
	text-align:center;
	.left,.right{
		position: absolute;
		width:$topHeight;
		height:$topHeight;
		color:#fff;
		top:0;
	}
	.left{left:0;}
	.right{right:0;}
}
