<div id="20161220" style="text-align: center;padding-top: 1rem;">
    <i class="iconfont icon-mobile" style="font-size: 5rem;padding: 0.5rem;border-radius: 0.5rem;
    color:#fff;
    background: #1b82d2;"></i>
</div>


<form action="/index.php?m=ProxyCustomer&a=tongDun" class="J-validate" ng-controller="Customer.tongDun">
<div class="weui-cells weui-cells_form">
    <div class="weui-cells__tips">
        提交您的手机信息进行验证，我们会收集您的身份、账单、通话信息等用于认证。运营商会发短信告知您，我们从网上营业厅查询过您的详单，这是认证您信息的正常过程。
    </div>
    <br>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label iconfont icon-mobile"></label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="customer[mobile]" ng-model="$storage.mobile" required digits ismobile readonly placeholder="请输入授权手机号"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label iconfont icon-password"></label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" name="customer[mobile_pwd]" required placeholder="请输入手机服务密码" autocomplete="off" />
        </div>
    </div>

</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:void(0);" ng-click="submit($event,'', submitCf)">提交</a>
    <!-- <a ui-sref="Access.login" class="weui-btn weui-btn_disabled weui-btn_default">已登记过,前往登录.</a> -->
</div>
</form>


